@import '../../../../shared/assets/styles/index.scss';

.ac-profile-frame {
  display: block;
  position: relative;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: $accent-color-2;
  border: 18px solid $dark-color-2;

  .ac-profile-image {
    background-image: url(../../../../shared/assets/images/icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
  }
}
