@import './variables.scss';

.ac-bg-dark-color {
  background-color: $dark-color !important;
}

.ac-bg-dark-color-2 {
  background-color: $dark-color-2 !important;
}

.ac-bg-dark-color-3 {
  background-color: $dark-color-3 !important;
}

.ac-bg-accent-color {
  background-color: $accent-color !important;
}

.ac-bg-accent-color-2 {
  background-color: $accent-color-2 !important;
}

.ac-text-color {
  color: $light-color !important;
}

.ac-text-color-2 {
  color: $light-color-2 !important;
}
.ac-text-color-3 {
  color: $light-color-3 !important;
}

.ac-text-accent {
  color: $accent-color !important;
}

.ac-text-accent-glow {
  text-shadow: 0 0 0.15em $accent-color !important;
}
