$accent-color: #00ff15;
$accent-color-2: #0011ff;
$dark-color: #100f10;
$dark-color-2: #1b1b1b;
$dark-color-3: #444444;
$light-color: rgba(#fff, 0.96);
$light-color-2: rgba(#fff, 0.67);
$light-color-3: rgba(#fff, 0.45);

$small-size: 0.375rem;
$small-size-2: 0.625rem;
$small-size-3: 0.875rem;
$medium-size: 1rem;
$medium-size-2: 1.375rem;
$medium-size-3: 1.75rem;
$large-size: 2.5rem;
$large-size-2: 3.5rem;
$large-size-3: 4.5rem;

$media-max-xxl: 'only screen and (max-width : 1400px)';
$media-min-xxl: 'only screen and (min-width : 1400px)';
$media-max-xl: 'only screen and (max-width : 1200px)';
$media-min-xl: 'only screen and (min-width : 1200px)';
$media-max-lg: 'only screen and (max-width : 992px)';
$media-min-lg: 'only screen and (min-width : 992px)';
$media-max-md: 'only screen and (max-width : 720px)';
$media-min-md: 'only screen and (min-width : 720px)';
$media-xs: 'only screen and (max-width : 576px)';
$media-min-sm: 'only screen and (min-width : 576px)';
