@import '../../assets/styles/index.scss';

.navbar.ac-side-navbar {
  @extend .navbar-expand-lg, .pt-0;
  position: absolute !important;
  top: 0;
  right: -5rem;
  z-index: 1;
  list-style: none;

  @media #{$media-max-lg} {
    top: 2rem;
    right: 2rem;
  }

  #navbarToggler:focus {
    box-shadow: 0 0 0 0;
  }

  .navbar-collapse {
    @media #{$media-max-lg} {
      background-color: $dark-color-2;
    }
  }

  .nav-item {
    .nav-link.ac-nav-link {
      @extend .btn, .p-3, .rounded, .w-100, .ac-bg-dark-color, .ac-text-color-3;
      border: none;

      @media #{$media-max-lg} {
        background-color: $dark-color-2 !important;
      }

      &:focus,
      &.active {
        @extend .ac-text-accent;
        border: 1px solid $accent-color;
      }

      &:hover {
        color: $font-color !important;
      }

      .ac-nav-link-icon {
        font-size: 1.6em;
      }
    }
  }
}
