@import '../../../shared/assets/styles/index.scss';

.ac-card-layout {
  @extend .position-relative,
    .d-flex,
    .flex-column,
    .p-5,
    .rounded-3,
    .shadow,
    .ac-bg-dark-color,
    .ac-text-color;
  z-index: 1;
  margin: 10vh auto;
  height: 80vh !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: all 180ms ease-out;

  & > main {
    @extend .p-3;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    z-index: 0;
  }

  &.ac-card-layout-extended {
    max-width: 80vw !important;
  }

  @media only screen and (max-width: 1500px) {
    max-width: 80vw !important;
  }

  @media #{$media-max-lg} {
    margin: 0 !important;
    padding: $small-size-3 !important;
    height: 100vh !important;
    min-width: 100vw !important;
    border-radius: 0 !important;
  }
}

.ac-change-language-button {
  @extend .btn, .py-2, .px-3, .rounded, .ac-bg-dark-color, .ac-text-color-3;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 99;

  @media #{$media-max-lg} {
    top: 2.3rem;
    right: 6rem;
  }

  &:hover {
    color: white !important;
    border-color: white !important;
  }
}
