@import '../../../../shared/assets/styles/index.scss';

.ac-home-credit {
  @extend .rounded, .mt-5, .mt-lg-0;
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 30%;

  @media #{$media-min-lg} {
    .popover.ac-popover {
      border-bottom-right-radius: 0 !important;
    }
  }

  @media #{$media-max-lg} {
    position: relative;
    bottom: auto;
    right: auto;
  }
}
