<div class="flex items-center justify-end gap-6 text-nowrap text-white select-none">
  <span id="clock">Loading...</span>
  <span id="date" class="hidden sm:block">Loading...</span>
</div>

<script is:inline>
  let clockInterval = null;

  function onMount() {
    if (clockInterval) {
      clearTimeout(clockInterval);
      clockInterval = null;
    }

    const clockContainer = document.querySelector("#clock");
    const dateContainer = document.querySelector("#date");

    if (!clockContainer || !dateContainer) return;

    const now = new Date();
    updateClock(now);
    updateDate(now);
    scheduleNextUpdate();

    function updateClock(now) {
      const hour = now.getHours();
      const minute = now.getMinutes();
      const second = now.getSeconds();
      clockContainer.textContent = `${hour.toString().padStart(2, "0")}:${minute.toString().padStart(2, "0")}:${second.toString().padStart(2, "0")}`;
    }

    function updateDate(now) {
      const locale = document.documentElement.lang || "en";
      dateContainer.textContent = now.toLocaleString(locale, {
        year: "numeric",
        month: "long",
        day: "2-digit",
        weekday: "long",
      });
    }

    function scheduleNextUpdate(nextTimeout) {
      const timeout = nextTimeout || (1000 - new Date().getMilliseconds());
      clockInterval = setTimeout(() => {
        const now = new Date();
        updateClock(now);
        if (now.getSeconds() === 0) updateDate(now);
        scheduleNextUpdate(1000);
      }, timeout);
    }
  }

  onMount();
  document.addEventListener("astro:after-swap", onMount);
</script>
