---
import Times from "~/core/acore-ts/data/date/constants/Times";
import Container from "~/presentation/Container";

export type Props = {
  id?: string;
};

const i18n = Container.instance.i18n;
const locale = i18n.getLocaleFromUrl(Astro.url, "en");
---

<div class="flex select-none items-center justify-end gap-6 text-nowrap text-white">
  <span id="clock"> 09:05:00 </span>
  <span id="date" class="hidden sm:block">
    10 Kasım 193<span class="text-xl">∞</span>
  </span>
</div>

<script is:inline define:vars={{ Times, locale }}>
  document.addEventListener("astro:after-swap", onMount);

  function onMount() {
    const clockContainer = document.querySelector("#clock");
    const dateContainer = document.querySelector("#date");

    const now = new Date();
    updateClock(now);
    updateDate(now);
    scheduleNextUpdate();

    function updateClock(now) {
      const hour = now.getHours();
      const minute = now.getMinutes();
      clockContainer.textContent = `${hour.toString().padStart(2, "0")}:${minute.toString().padStart(2, "0")}:${now.getSeconds().toString().padStart(2, "0")}`;
    }

    function updateDate(now) {
      dateContainer.textContent = now.toLocaleString(locale, {
        year: "numeric",
        month: "long",
        day: "2-digit",
        weekday: "long",
      });
    }

    function scheduleNextUpdate(nextTimeout) {
      if (!nextTimeout) nextTimeout = Times.MILLIS_IN_SECOND - now.getMilliseconds();
      setTimeout(() => {
        const now = new Date();
        updateClock(now);
        if (now.getHours() === 0) updateDate(now);

        scheduleNextUpdate(Times.MILLIS_IN_SECOND);
      }, nextTimeout);
    }
  }
</script>
