---
import { Time } from "~/core/acore-ts/time/constants/Time";
import Container from "~/presentation/Container";

export type Props = {
  id?: string;
};

const i18n = Container.instance.i18n;
const locale = i18n.getLocaleFromUrl(Astro.url, "en");
---

<div class="flex select-none items-center gap-2 text-nowrap text-white">
  <span id="clock"> 09:05 </span>
  <span id="date" class="hidden sm:block">
    10 Kasım 193<span class="text-xl">∞</span>
  </span>
</div>

<script define:vars={{ Time, locale }}>
  function onMount() {
    const clockContainer = document.querySelector("#clock");
    const timeSections = clockContainer.querySelectorAll("span");
    const dateContainer = document.querySelector("#date");

    const now = new Date();
    updateClock(now);
    updateDate(now);
    scheduleNextUpdate();

    function updateClock(now) {
      const hour = now.getHours();
      const minute = now.getMinutes();
      clockContainer.textContent = `${hour.toString().padStart(2, "0")}:${minute.toString().padStart(2, "0")}`;
    }

    function updateDate(now) {
      dateContainer.textContent = now.toLocaleString(locale, {
        year: "numeric",
        month: "long",
        day: "2-digit",
        weekday: "long",
      });
    }

    function scheduleNextUpdate(nextTimeout) {
      if (!nextTimeout) nextTimeout = (Time.SecondsInMinute - now.getSeconds()) * Time.MillisInSecond;
      setTimeout(() => {
        const now = new Date();
        updateClock(now);
        if (now.getHours() === 0) updateDate(now);

        scheduleNextUpdate(Time.MillisInMinute);
      }, nextTimeout);
    }
  }

  document.addEventListener("astro:after-swap", onMount);
</script>
