---
import Clock from "./Clock.astro";
import TaskbarView from "./TaskbarView";
import Menu from "./Menu";
import ChangeLocale from "./ChangeLocale";
---

<header
  class="bg-surface-500 shadow-secondary relative z-50 m-4 flex items-center justify-between rounded-xl border border-black p-2 px-6"
>
  <div class="flex w-full items-center justify-start">
    <Menu client:only="solid-js" />

    <span class="ms-5 size-full text-white">
      <TaskbarView client:only="solid-js" />
    </span>
  </div>

  <div class="flex items-center justify-center gap-2">
    <ChangeLocale client:idle />
    <Clock />
  </div>
</header>
