---
import Clock from "./Clock.astro";
import TaskbarView from "./TaskbarView";
import Menu from "./Menu";
import ChangeLocale from "./ChangeLocale";
---

<header
  class="z-1 relative m-4 flex items-center justify-between rounded-xl border border-black bg-surface-500 p-2 px-6 shadow-secondary"
>
  <div class="flex w-full items-center justify-start">
    <Menu client:only="solid-js" transition:persist />

    <span class="ms-5 size-full text-white" transition:persist>
      <TaskbarView client:only="solid-js" transition:persist />
    </span>
  </div>

  <div class="flex items-center justify-center gap-2">
    <ChangeLocale client:idle transition:persist />
    <Clock />
  </div>
</header>
