@import '../../assets/styles/bootstrap-extends.scss';
@import '../../assets/styles/colors.scss';

.ac-github-repo-card {
  @extend .card,
    .ac-bg-dark-color-2,
    .p-3,
    .link-light,
    .h-100,
    .d-flex,
    .justify-content-between,
    .flex-column;

  .ac-github-repo-card-tags {
    @extend .ms-3, .d-flex, .overflow-auto, .w-100;

    &::-webkit-scrollbar {
      display: none;
    }

    .ac-github-repo-card-tag-label {
      @extend .mb-0,
        .px-2,
        .py-0,
        .ac-bg-dark-color-3,
        .rounded,
        .text-truncate;
      font-size: 0.8rem;
      min-width: -webkit-min-content;
      min-width: -moz-min-content;
      min-width: min-content;
    }
  }
}
