---
import Clock from './Clock.astro';
import Menu from './Menu.astro';
import TaskbarView from './TaskbarView';
---

<header class="relative z-50 flex w-full items-center justify-between border-b px-10 py-3">
  <div class="flex w-full items-center justify-start">
    <Menu />

    <span class="ms-5" transition:persist>
      <TaskbarView client:idle />
    </span>
  </div>
  <Clock />
</header>
