---
import Clock from './Clock.astro';
import TaskbarView from './TaskbarView';
import Menu from './Menu';
---

<header class="relative z-1 flex w-full items-center justify-between border-b px-10 py-3">
  <div class="flex w-full items-center justify-start">
    <Menu client:idle transition:persist/>

    <span class="ms-5" transition:persist>
      <TaskbarView client:idle />
    </span>
  </div>
  <Clock />
</header>
