---
import type { HTMLTag } from 'astro/types';
import type { Widget } from '~/types';
import { twMerge } from 'tailwind-merge';

export interface Props extends Widget {
  containerClass?: string;
  ['as']?: HTMLTag;
}

const { id, isDark = false, containerClass = '', bg, as = 'section' } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class="not-prose relative scroll-mt-[72px]" {...id ? { id } : {}}>
  <div class="pointer-events-none absolute inset-0 -z-[1]" aria-hidden="true">
    <slot name="bg">
      {(<Fragment set:html={bg} />)}
    </slot>
  </div>
  <div
    class:list={[
      twMerge('text-default relative mx-auto max-w-7xl px-4 py-12 md:px-6 md:py-16 lg:py-20', containerClass),
      { dark: isDark },
    ]}
  >
    <slot />
  </div>
</WrapperTag>
