@import '../../assets/styles/index.scss';

.ac-retro-computer-container {
  @extend .m-auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  overflow: hidden;

  @media #{$media-xs} {
    width: 20rem;
    height: 20rem;
  }

  .ac-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
