---
import { Time } from '@corePackages/ahmet-cetinkaya-core/time/constants/Time';

export interface Props {
  id?: string;
}

const { id = 'clockContainer' } = Astro.params;
---

<span id={id}>
  <span>00</span>:<span>00</span>
</span>

<script is:inline define:vars={{ id, Time }}>
  const clockContainer = document.querySelector(`#${id}`),
    timeSections = clockContainer.querySelectorAll('span');

  function updateClock() {
    const now = new Date(),
      hours = now.getHours(),
      minutes = now.getMinutes();

    const [hourSection, minuteSection] = timeSections;
    hourSection.textContent = String(hours).padStart(2, '0');
    minuteSection.textContent = String(minutes).padStart(2, '0');
  }

  updateClock();
  const timeRemainingToNextMinute = (Time.SecondsInMinute - new Date().getSeconds()) * Time.MillisInSecond;
  setTimeout(() => {
    updateClock();

    setInterval(updateClock, Time.MillisInMinute);
  }, timeRemainingToNextMinute);
</script>
