@import './variables.scss';

.ac-bg-dark-color {
  background-color: $dark-color !important;
}
.ac-bg-dark-color-2 {
  background-color: $dark-color-2;
}
.ac-bg-dark-color-3 {
  background-color: $dark-color-3;
}
.ac-bg-accent-color {
  background-color: $accent-color;
}
.ac-bg-accent-color-2 {
  background-color: $accent-color-2;
}
.ac-text-color {
  color: $font-color;
}
.ac-text-color-2 {
  color: $font-color-2;
}
.ac-text-color-3 {
  color: $font-color-3;
}
.ac-text-accent {
  color: $accent-color;
}
.ac-text-accent-glow {
  text-shadow: 0 0 0.15em $accent-color;
}
