@import './fonts.scss';
@import './variables.scss';
@import './colors.scss';
@import './abstracts.scss';
@import './utils.scss';
@import './bootstrap-extends.scss';
@import 'prismjs/themes/prism.css'; // Highlighting for code blocks

// General
body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif !important;
}
a {
  @extend .ac-text-accent;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:focus,
a:hover {
  color: $font-color;
}
a,
.btn {
  outline: none !important;
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: $dark-color-3;
  border-radius: $small-size;
}
::-webkit-scrollbar-thumb:hover {
  background: $font-color-3;
}
::-webkit-scrollbar-track {
  background: transparent;
}
