.ac-hover-opacity {
  opacity: 0.6;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
  }
}
.rounded-circle.ac-hover-circle-background {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  svg {
    color: $font-color !important;
  }

  &:hover {
    background-color: $accent-color;

    svg {
      color: $dark-color-3 !important;
    }
  }
}
