---
import Desktop from "../../features/desktop/components/Desktop";
import Taskbar from "../../features/desktop/components/Taskbar/Taskbar.astro";
import WindowManager from "../../features/desktop/components/WindowManager";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps;
---

<Layout metaData={Astro.props.metaData}>
  <div class="flex h-screen w-screen flex-col overflow-hidden">
    <Taskbar />

    <main class="flex-grow">
      <span transition:persist>
        <Desktop client:only="solid-js" transition:persist />
        <WindowManager client:only="solid-js" transition:persist />
      </span>
    </main>
  </div>
</Layout>
