---
import Desktop from "../../features/desktop/components/Desktop";
import Taskbar from "../../features/desktop/components/Taskbar/Taskbar.astro";
import Wallpaper from "../../features/desktop/components/Wallpaper/Wallpaper";
import WindowManager from "../../features/desktop/components/WindowManager";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps;
---

<Layout metadata={Astro.props.metadata}>
  <div class="flex h-svh w-svw flex-col overflow-hidden">
    <Taskbar />

    <main class="relative flex-grow">
      <Wallpaper class="absolute top-0 -z-50 size-full" client:only="solid-js" />
      <Desktop client:only="solid-js" />
      <WindowManager client:only="solid-js" />
    </main>
  </div>
</Layout>
