---
import Desktop from "../../features/desktop/components/Desktop";
import Taskbar from "../../features/desktop/components/Taskbar/Taskbar.astro";
import Wallpaper from "../../features/desktop/components/Wallpaper/Wallpaper";
import WindowManager from "../../features/desktop/components/WindowManager";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps;
---

<Layout metadata={Astro.props.metadata}>
  <div class="w-svh flex h-svh flex-col overflow-hidden">
    <Taskbar />

    <main class="flex-grow">
      <span transition:persist>
        <Wallpaper class="absolute top-0 -z-50 size-full" client:only="solid-js" transition:persist />
        <Desktop client:only="solid-js" transition:persist />
        <WindowManager client:only="solid-js" transition:persist />
      </span>
    </main>
  </div>
</Layout>
