---
import Desktop from "../../features/desktop/components/Desktop";
import Taskbar from "../../features/desktop/components/Taskbar/Taskbar.astro";
import Wallpaper from "../../features/desktop/components/Wallpaper/Wallpaper";
import WindowManager from "../../features/desktop/components/WindowManager";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps;
---

<Layout metadata={Astro.props.metadata}>
  <div class="relative h-svh w-svw overflow-hidden">
    <Wallpaper class="absolute inset-0 -z-10 size-full" client:only="solid-js" />
    <div class="relative z-20 flex h-full flex-col">
      <Taskbar />
      <main class="flex-grow">
        <Desktop client:only="solid-js" />
        <WindowManager client:only="solid-js" />
      </main>
    </div>
  </div>
</Layout>
