---
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps;
---

<Layout metadata={Astro.props.metadata}>
  <main class="w-svh h-svh select-none bg-surface-500 py-10 text-white">
    <span class="flex size-full select-none flex-col border-y-2 border-surface-400 p-4">
      <slot />
    </span>
  </main>
</Layout>
