@import './variables.scss';
@import './bootstrap-extends.scss';

// General
body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
a {
  @extend .ac-text-accent;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:focus,
a:hover {
  color: $font-color;
}
a,
.btn {
  outline: none !important;
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: $dark-color-3;
  border-radius: $small-size;
}
::-webkit-scrollbar-thumb:hover {
  background: $font-color-3;
}
::-webkit-scrollbar-track {
  background: transparent;
}

// Custom Styles
.ac-bg-dark-color {
  background-color: $dark-color !important;
}
.ac-bg-dark-color-2 {
  background-color: $dark-color-2;
}
.ac-bg-dark-color-3 {
  background-color: $dark-color-3;
}
.ac-bg-accent-color {
  background-color: $accent-color;
}
.ac-bg-accent-color-2 {
  background-color: $accent-color-2;
}
.ac-text-color {
  color: $font-color;
}
.ac-text-color-2 {
  color: $font-color-2;
}
.ac-text-color-3 {
  color: $font-color-3;
}
.ac-text-accent {
  color: $accent-color;
}
.ac-text-accent-glow {
  text-shadow: 0 0 0.15em $accent-color;
}
.ac-background-image {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ac-hover-opacity {
  opacity: 0.6;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
  }
}
.rounded-circle.ac-hover-circle-background {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  svg {
    color: $font-color !important;
  }

  &:hover {
    background-color: $accent-color;

    svg {
      color: $dark-color-3 !important;
    }
  }
}
