---
import Layout from '~/pages/_layouts/Layout.astro';
import Taskbar from '~/application/features/desktop/components/Taskbar.astro';

import { headerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Taskbar {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
</Layout>
