---
import Layout from '~/pages/_layouts/Layout.astro';
import Taskbar from '~/application/features/desktop/components/Taskbar/Taskbar.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata} transition:persist>
  <Taskbar transition:persist />
  <main>
    <slot />
  </main>
</Layout>
