---
import Item from '~/application/features/blog/components/GridItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="row-gap-5 -mb-6 grid gap-6 md:grid-cols-2 lg:grid-cols-4">
  {posts.map((post) => <Item post={post} />)}
</div>
