---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/application/shared/utils/permalinks';
import Link from '~/application/shared/components/ui/Link';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'Newer posts', nextText = 'Older posts' } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="container flex">
      <div class="container mx-auto flex flex-row justify-between">
        <Link variant="link" class={`mr-2 px-3 md:px-3 ${!prevUrl ? 'invisible' : ''}`} href={getPermalink(prevUrl)}>
          <Icon name="tabler:chevron-left" class="h-6 w-6" />
          <p class="ml-2">{prevText}</p>
        </Link>

        <Link variant="link" class={`px-3 md:px-3 ${!nextUrl ? 'invisible' : ''}`} href={getPermalink(nextUrl)}>
          <span class="mr-2">{nextText}</span>
          <Icon name="tabler:chevron-right" class="h-6 w-6" />
        </Link>
      </div>
    </div>
  )
}
