---
import { Icon } from 'astro-icon/components';
import { getBlogPermalink } from '~/application/shared/utils/permalinks';
import { I18N } from 'astrowind:config';
import Link from '~/application/shared/components/ui/Link';

const { textDirection } = I18N;
---

<div class="mx-auto max-w-3xl px-6 pb-12 pt-8 sm:px-6 md:pb-20 md:pt-4">
  <Link variant="link" className="px-3 md:px-3" href={getBlogPermalink()}>
    {
      textDirection === 'rtl' ? (
        <Icon name="tabler:chevron-right" class="-ml-1.5 mr-1 h-5 w-5 rtl:-mr-1.5 rtl:ml-1" />
      ) : (
        <Icon name="tabler:chevron-left" class="-ml-1.5 mr-1 h-5 w-5 rtl:-mr-1.5 rtl:ml-1" />
      )
    } Back to Blog
  </Link>
</div>
